{extend name="common/index"}
{block name="css"}
<style>
    html {
        background-color: #f2f2f2;
    }
</style>
{/block}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    文章数
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">总</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font">{$article.count|default=0}</p>
                    <p>
                        本月新增
                        <span class="layuiadmin-span-color">{$article.count_month|default=0} <i class="layui-inline layui-icon layui-icon-read"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    厂家数
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">总</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font">{$factory.count|default=0}</p>
                    <p>
                        本月新增
                        <span class="layuiadmin-span-color">{$factory.count_month|default=0} <i class="layui-inline layui-icon layui-icon-form"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    商家数
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">总</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font">{$shop.count|default=0}</p>
                    <p>
                        本月新增
                        <span class="layuiadmin-span-color">{$shop.count_month|default=0} <i class="layui-inline layui-icon layui-icon-form"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    产品数
                    <span class="layui-badge layui-bg-green layuiadmin-badge">总</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font">{$goods.count|default=0}</p>
                    <p>
                        本月新增
                        <span class="layuiadmin-span-color">{$goods.count_month|default=0} <i class="layui-inline layui-icon layui-icon-diamond"></i></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}