<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<img src="http://test-api-multimedia.oss-cn-hangzhou.aliyuncs.com/image/article/2018-12-17/1545059937175.png?x-oss-process=image/resize,m_lfit,w_1000/crop,x_0,y_0,h_2566,g_center" alt="" width="100%">
</body>
</html>