{extend name="common/parent" /}
{block name="css"}

{/block}
{block name="page"}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                厂家信息编辑
            </div>
            <div class="panel-body">
                <form id="factoryForm" role="form" method="post" action="{:url('save')}" enctype="multipart/form-data" >
                    <input id="id" type="hidden" name="id" value="{$factory.id|default=''}">
                    <input type="hidden" name="__token__" value="{$Request.token}" />
                    <div class="form-group">
                        <label class="control-label" for="logo">商标 / 品牌</label>
                        <div class="row">
                            <div class="col-md-3">
                                <input id="logo"  name="logo" type="file">
                                <input id="org_logo" name="org_logo" value="{$factory.logo|default=''}" type="hidden">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="factory_name">厂家名称</label>
                        <input type="text" class="form-control" id="factory_name" name="factory_name" value="{$factory.factory_name|default=''}" required="required">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="user_id">初始用户</label>
                        <select class="form-control" name="user_id" id="user_id" required="required">
                            <option value=""></option>
                            {volist name="users" id="vo"}
                            <option value="{$vo.id}" {:isset($factory.user_id) ? ($factory.user_id == $vo.id ? 'selected':'') : ''}>{$vo.user_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="linkman">联系人</label>
                        <input type="text" class="form-control" id="linkman" name="linkman" value="{$factory.linkman|default=''}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone_number">联系电话</label>
                        <input type="number" class="form-control" id="phone_number" name="phone_number" value="{$factory.phone_number|default=''}" oninput="maxLen(this, 11);">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone_number">厂家地址</label>
                        <div class="input-group">
                            <span class="input-group-addon control-label">省</span>
                            <select class="form-control select2-default" name="province" id="province">
                                <option value="">请选择</option>
                                {volist name="provinceList" id="vo"}
                                <option value="{$vo.id}" {eq name="vo.id" value="$factory.province|default='0'"}selected{/eq}>{$vo.name}</option>
                                {/volist}
                            </select>
                            <span class="input-group-addon control-label">市</span>
                            <select class="form-control select2-default" name="city" id="city">
                                <option value="">请选择</option>
                                {notempty name="cityList"}
                                {volist name="cityList" id="vo"}
                                <option value="{$vo.id}" {eq name="vo.id" value="$factory.city|default='0'"}selected{/eq}>{$vo.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                            <span class="input-group-addon control-label">区</span>
                            <select class="form-control select2-default" name="district" id="district">
                                <option value="">请选择</option>
                                {notempty name="districtList"}
                                {volist name="districtList" id="vo"}
                                <option value="{$vo.id}" {eq name="vo.id" value="$factory.district|default='0'"}selected{/eq}>{$vo.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon control-label">地址详情</span>
                            <input type="text" class="form-control" name="address" value="{$factory.address|default=''}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">状态</label>
                        <div>
                            <input type="radio" id="status-on" name="status" value="1" {:isset($factory.status) ? ($factory.status == 1 ? 'checked':'') : 'checked'}>
                            <label for="status-on">启用</label>
                            <input type="radio" id="status-off" name="status" value="0" {:isset($factory.status) ? ($factory.status == 0 ? 'checked':'') : ''}>
                            <label for="status-off">禁用</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="control-label">厂家介绍</label>
                            <input type="hidden" name="introduce">
                            <script id="introduce" type="text/plain" style="height:400px;">{$factory.introduceText|default=''}</script>
                        </div>
                    </div>
                    <div class="form-actions center">
                        <button  class="btn btn-white btn-round btn-success" type="submit">
                            提交
                            <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}

<script src="__STATIC__/plugin/ueditor/ueditor.config.js"></script>
<script src="__STATIC__/plugin/ueditor/ueditor.all.min.js"></script>

<script>
    $('#user_id,#province,#city,#district').select2({});

    var introduce_editor = editor('introduce');

    $('#logo').ace_file_input({
        btn_change:'Logo',
        btn_choose:'Logo',
        thumbnail: 'large',
        droppable:true,
        before_remove:function () {
            $('#org_logo').val('');
            return true;
        }
    });

    $('#province, #city').on('change', function () {
        var cur_control = $(this);
        var parent_id = cur_control.find('option:selected').val();
        var position = '';
        var position_district = '';
        switch (cur_control.attr('id')){
            case 'province':
                position = '#city';
                position_district = '#district';
                break;
            case 'city':
                position = '#district';
                position_district = '';
                break;
        }
        ajaxArea(parent_id, position, position_district);
    });

    function ajaxArea(parent_id, position, position_district) {
        $.ajax({
            type: "GET",
            url: "{:url('District/getArea')}",
            dataType: "json",
            async: false,
            data: {'id': parent_id},
            success: function (data) {
                var _html = '<option value="">请选择</option>';
                $.each(data,function (index, value) {
                    _html += '<option value="' + value.id + '"">' + value.name + '</option>';
                });
                $(position).html(_html);
                $(position_district).html('<option value="">请选择</option>');
            }
        });
    }

    $('#factoryForm').validate({
        submitHandler: function (form)
        {
            var html =  introduce_editor.getContent();
            $(form).find("input[name='introduce']").val(html);
            form.submit();
        },
        rules: {
            factory_name: {
                remote:{
                    url:"{:url('factory_name_exist')}",
                    type:'post',
                    data:{id:function () {
                        return  $('#id').val();
                        }
                    }
                }
            }
        }
    });

    /**
     * 限制输入内容长度
     **/
    function maxLen(element, len) {
        var value = $(element).val();
        if(value.length > len) {
            $(element).val(value.slice(0, len))
        }
    }

    {notempty name="factory.logo"}
    $('#logo').ace_file_input('show_file_list',[{type: 'image',name:'{$factory.logo}', path:'{$factory.logo}'}]);
    {/notempty}
</script>
{/block}