{extend name="common/index"}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>门头照：</label>
                    <img src="{$data.factory_img|default=''}" width="200" alt="门头照">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>厂家名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="factory_name" value="{$data.factory_name|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">门市联系人：</label>
                    <div class="layui-input-block">
                        <input type="text" name="sales_contact" value="{$data.sales_contact|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">门市手机号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="sales_phone" value="{$data.sales_phone|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">门市微信：</label>
                    <div class="layui-input-block">
                        <input type="text" name="sales_wx" value="{$data.sales_wx|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">厂家联系人：</label>
                    <div class="layui-input-block">
                        <input type="text" name="factory_contact" value="{$data.factory_contact|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">厂家手机号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="factory_phone" value="{$data.factory_phone|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">负责人微信：</label>
                    <div class="layui-input-block">
                        <input type="text" name="factory_wx" value="{$data.factory_wx|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">管理员：</label>
                    <div class="layui-input-block">
                        <select name="admin_user">
                            <option value="">请选择</option>
                            {volist name="$user_list" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.admin_user|default=''"}selected{/eq}>{$vo.user_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">门市所在地址：</label>
                        <div class="layui-input-block">
                            <select name="sales_province" id="province" lay-filter="region">
                                <option value="{$data.sales_province|default=''}">{$data.sales_province|default='所在省'}</option>
                                {notempty name="provinceList"}
                                {volist name="provinceList" id="vo"}
                                <option value="{$vo.name}">{$vo.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 layui-col-lg3">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: auto;"></label>
                        <div class="layui-input-block" style="margin-left: 10px;">
                            <select name="sales_city" id="city" lay-filter="region">
                                <option value="{$data.sales_city|default=''}">{$data.sales_city|default='请选择市'}</option>
                                {notempty name="cityList"}
                                {volist name="cityList" id="vo"}
                                <option value="{$vo.name}">{$vo.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md5 layui-col-lg5">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: auto;"></label>
                        <div class="layui-input-block" style="margin-left: 10px;">
                            <select name="sales_district" id="district">
                                <option value="{$data.sales_district|default=''}">{$data.sales_district|default='请选择区/县'}</option>
                                {notempty name="districtList"}
                                {volist name="districtList" id="vo"}
                                <option value="{$vo.name}">{$vo.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">详细地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" value="{$data.address|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">质量保证金：</label>
                    <div class="layui-input-block">
                        <input type="number" name="margin" value="{$data.margin_fee|default=''}" placeholder="未缴纳保证金" class="layui-input">
                        <p style="font-size: 9px;">1钻：1000；2钻：2000；3钻：3000；4钻：12000</p>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">启用状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="state" value="1" title="启用" {eq name="$data.state|default=''" value="1"}checked{/eq}>
                        <input type="radio" name="state" value="0" title="禁用" {eq name="$data.state|default=''" value="0"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">审核状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="audit_state" value="0" title="未审核" {eq name="$data.audit_state|default=''" value="0"}checked{/eq}>
                        <input type="radio" name="audit_state" value="1" title="审核通过" {eq name="$data.audit_state|default=''" value="1"}checked{/eq}>
                        <input type="radio" name="audit_state" value="2" title="审核不通过" {eq name="$data.audit_state|default=''" value="2"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">审核结果说明：</label>
                    <div class="layui-input-block">
                        <input type="text" name="audit_remark" value="{$data.audit_remark|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
            </div>
            <label class="layui-form-label">营业执照：</label>
            <a href="{$data.license|default=''}" target="_blank"><img src="{$data.license|default=''}" width="300" alt="营业执照"></a>
            <div class="tpl-form-action">
                <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存</button>
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        //监听省市区三级联动
        form.on('select(region)', function (data) {
            var id = data.value;
            var position_now = $(data.elem).attr('id');
            var position_next = '';
            var position_change = '';

            if (position_now == 'province') {
                position_next = '#city';
                position_change = '#district';
            } else if (position_now == 'city'){
                position_next = '#district';
                position_change = '';
            }
            ajaxRegion(id, position_next, position_change);
        });

        /**
         * 省市区变更
         */
        function ajaxRegion(id, position, position_change) {
            $.post('{:url("getRegion")}', {val:id}, function (result) {
                var _html = "<option value=''>请选择</option>";
                $.each(result, function (key, val) {
                    _html += "<option value='"+val.name+"'>"+val.name+"</option>";
                });
                $(position).html(_html);
                $(position_change).html("<option value=''>请选择</option>");
                form.render('select');
            });
        }

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            $.post('{:url("save")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });
    });


</script>

{/block}