{extend name="common/index"}
{block name="css"}
<style>
    .content {
        max-width: 350px;
    }
    .content .content-text {
        margin: 15px;
    }
    .content img {
        max-width: 350px;
    }
</style>
{/block}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">音乐：</label>
                    <div class="layui-input-inline content">
                        <div class="content-text">{$data.music_name|default=''}</div>
                        <audio src="{$data.music|default=''}" controls="controls"></audio>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">内容详情：</label>
                    <div class="layui-input-inline content">
                        {volist name="$data.item" id="vo"}
                            {if condition="$vo.type == 1"}
                                <div class="content-text" style="font-size: 16px;letter-spacing:3px;width:100%;">{$vo.text}</div>
                            {else}
                                <a href="{$vo.img}" target="_blank">
                                    <img src="{$vo.img}" alt="图片">
                                </a>
                                {if condition="$vo.record != ''"}
                                    <audio src="{$vo.record|default=''}" controls="controls"></audio>
                                {/if}
                            {/if}
                        {/volist}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{/block}
