{extend name="common/parent" /}
{block name="page"}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-sm">厂家名称</span>
                <input type="text" name="factory_name" id="factory_name" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-sm">用户名称</span>
                <input type="text" name="user_name" id="user_name" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <button class="btn btn-purple btn-default btn-white btn-round" onclick="RefreshTable();">
            <span class="glyphicon glyphicon-search"></span>
            查询
        </button>
        <a class="btn btn-white btn-primary btn-round" href="{:url('edit')}">
            <span class="glyphicon glyphicon-plus"></span>
            添加
        </a>
    </div>
</div>
<div class="space"></div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>
            <th>ID</th>
            <th>厂家名称</th>
            <th>初始用户</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>地区</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th>
            </thead>
        </table>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $('#search-key').select2({allowClear:false,width:82});
    var tableOption = {
        columns:
            [
                {data: "id"},
                {data: "factory_name", orderable: false},
                {data: "user_name", orderable: false},
                {data: "linkman", orderable: false},
                {data: "phone_number", orderable: false},
                {data: "district", orderable: false},
                {data: "create_time"},
                {data: "status",
                    render:function (data) {
                        return data == 1 ? "<span class='label label-lg label-success label-white middle'>启用</span>" : "<span class='label label-lg label-danger label-white middle'>禁用</span>";
                    },
                    className:"center"
                },
                {data:"id"}
            ],
        search: function () {
            return {
                factory_name:$('#factory_name').val(),
                user_name:$('#user_name').val()
            }
        }
    };
    var Table = $('.table').DataTable(tableOption,"{:url('data')}");
    function RefreshTable() {
        Table.ajax.reload();
    }
    function edit(element) {
        var id = $(element).attr('data-value');
        location.href = 'edit.html?id=' + id;
    }

    function deleteRow(element) {
        var id = $(element).attr('data-value');
        ajaxDelete(id);
    }

    function ajaxDelete(id) {
        $.confirm('提示', '确定删除此数据?', 'info', function(isConfirm) {
            if (isConfirm) {
                $.post('{:url("delete")}', { id: id }, function(result) {
                    if (result.code) {
                        $.alert('提示', '删除成功', 'success');
                        Table.ajax.reload(false);
                    } else {
                        $.alert('错误', result.msg, 'error');
                    }
                }, 'json');
            }
        });
    }
</script>
{/block}