{extend name="common/index"}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">图片：</label>
                    <div class="layui-input-inline upload-img">
                        <img src="{$data.classify_img|default='/static/img/holder.jpg'}" width="200" height="100" alt="图片">
                        <input type="hidden" name="classify_img" value="{$data.classify_img|default=''}" data-id="{$data.id|default=''}" data-table="article_classify">
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-btn-container">
                            <a href="{$data.classify_img|default='/static/img/holder.jpg'}" target="_blank" class="layui-btn layui-btn-primary layui-btn-sm">
                                <i class="layui-icon layui-icon-search"></i>查看大图
                            </a>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm image-delete" onclick="deleteImgOss(this);">
                                <i class="layui-icon layui-icon-delete"></i>删除图片
                            </button>
                        </div>
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label">上级分类</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<select name="parent_id">-->
                            <!--<option value="">请选择</option>-->
                            <!--{$classifyList|default=''}-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>分类名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="classify_name" value="{$data.classify_name|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="state" value="0" title="禁用" {eq name="$data.state|default=''" value="0"}checked{/eq}>
                        <input type="radio" name="state" value="1" title="启用" {eq name="$data.state|default=''" value="1"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        //上传图片
        uploadImgOss('.upload-img', '{:url("uploadImgOss")}', 4096, 'images');

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            $.post('{:url("save")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });
    });


</script>

{/block}