{extend name="common/index"}
{block name="css"}
<style>
    {notempty name="data.img"}
    .image-url .layui-upload-drag .image-text {
        display: none;
    }
    {else/}
    .image-url .layui-upload-drag .image-preview {
        display: none;
    }
    {/notempty}
</style>
{/block}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品分类：</label>
                    <div class="layui-input-block">
                        <select name="classify">
                            <option value="">请选择</option>
                            {volist name="$classifyList" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.classify|default=''"}selected{/eq}>{$vo.classify_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>商品名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="goods_name" value="{$data.goods_name|default=''}" placeholder="请输入" class="layui-input"  lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属厂家：</label>
                    <div class="layui-input-block">
                        <select name="factory_id">
                            <option value="">请选择</option>
                            {volist name="$classifyList" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.factory_id|default=''"}selected{/eq}>{$vo.classify_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">厂家分类：</label>
                    <div class="layui-input-block">
                        <select name="factory_classify">
                            <option value="">请选择</option>
                            {volist name="$classifyList" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.factory_classify|default=''"}selected{/eq}>{$vo.classify_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属一级分类：</label>
                    <div class="layui-input-block">
                        <select name="base_classify">
                            <option value="">请选择</option>
                            {volist name="$classifyList" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.base_classify|default=''"}selected{/eq}>{$vo.classify_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">品牌：</label>
                    <div class="layui-input-block">
                        <select name="brand">
                            <option value="">请选择</option>
                            {volist name="$userList" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.brand|default=''"}selected{/eq}>{$vo.user_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">厂家产品型号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="model_no" value="{$data.model_no|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商城商品编号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="goods_no" value="{$data.goods_no|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">材质：</label>
                    <div class="layui-input-block">
                        <input type="text" name="texture_id" value="{$data.texture_id|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">材质描述：</label>
                    <div class="layui-input-block">
                        <input type="text" name="texture_describe" value="{$data.texture_describe|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">风格：</label>
                    <div class="layui-input-block">
                        <input type="text" name="style_id" value="{$data.style_id|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">风格描述：</label>
                    <div class="layui-input-block">
                        <input type="text" name="style_describe" value="{$data.style_describe|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">功能：</label>
                    <div class="layui-input-block">
                        <input type="text" name="function_id" value="{$data.function_id|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">功能描述：</label>
                    <div class="layui-input-block">
                        <input type="text" name="function_describe" value="{$data.function_describe|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">规格：</label>
                    <div class="layui-input-block">
                        <input type="text" name="specification" value="{$data.specification|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">规格：</label>
                    <div class="layui-input-block">
                        <input type="text" name="specification" value="{$data.specification|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">规格：</label>
                    <div class="layui-input-block">
                        <input type="text" name="specification" value="{$data.specification|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">包装方式：</label>
                    <div class="layui-input-block">
                        <input type="text" name="packaging" value="{$data.packaging|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图文详情：</label>
                    <div class="layui-input-block">
                        <input type="text" name="detail" value="{$data.detail|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">说明备注：</label>
                    <div class="layui-input-block">
                        <input type="text" name="remark" value="{$data.remark|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序：</label>
                    <div class="layui-input-block">
                        <input type="text" name="sort" value="{$data.sort|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="audit_state" value="0" title="待审核" {eq name="$data.audit_state|default=''" value="0"}checked{/eq}>
                        <input type="radio" name="audit_state" value="1" title="审核通过" {eq name="$data.audit_state|default=''" value="1"}checked{/eq}>
                        <input type="radio" name="audit_state" value="2" title="审核不通过" {eq name="$data.audit_state|default=''" value="2"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <input type="text" name="audit_remark" value="{$data.audit_remark|default=''}" placeholder="请输入" class="layui-input">
                        <span style="color: #FFB800;">审核不通过的原因</span>
                    </div>
                </div>
            </div>
            <div class="tpl-form-action">
                <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存</button>
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            $.post('{:url("save")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });
    });


</script>

{/block}