{extend name="common/index"}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">头像：</label>
                    <div class="layui-input-block img-avatar" style="text-align: center;">
                        <input type="hidden" name="image" value="{$avatar}">
                        <img src="{$avatar}" class="tpl-img-avatar">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>帐号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="account" value="{$data.account|default=''}" lay-verify="required" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" value="{$data.password|default=''}" lay-verify="required" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>昵称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_name" value="{$data.user_name|default=''}" lay-verify="required" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色权限</label>
                    <div class="layui-input-block">
                        <select name="role_id">
                            <option value="">请选择</option>
                            {volist name="roleList" id="vo"}
                            <option value="{$vo.id}" {eq name="data.role_id|default=''" value="$vo.id"}selected{/eq}>{$vo.role_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类型：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" value="1" title="超级管理员" {eq name="$data.type|default=0" value="1"}checked{/eq}>
                        <input type="radio" name="type" value="0" title="管理员" {eq name="$data.type|default=0" value="0"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="正常" {eq name="$data.status|default=1" value="1"}checked{/eq}>
                        <input type="radio" name="status" value="0" title="冻结" {eq name="$data.status|default=1" value="0"}checked{/eq}>
                    </div>
                </div>
            </div>
            <div class="tpl-form-action">
                <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存</button>
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;
        
        //上传图片
        uploadImgAjax('.img-avatar', '{:url("uploadImg")}', 4096);//头像

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            $.post('{:url("save")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });
    });


</script>

{/block}