{extend name="common/parent" /}
{block name="page"}
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <select id="search-key">
                        <option value="account|user_name" selected>全部</option>
                        <option value="account">账号</option>
                        <option value="user_name">昵称</option>
                    </select>
                </span>
                <input id="search-value" class="form-control" type="text" placeholder="输入查找关键字">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="form-group">
            <button class="btn btn-purple btn-default btn-white btn-round" type="button" onclick="RefreshTable();">
                <span class="glyphicon glyphicon-search"></span>
                查询
            </button>
            <a class="btn btn-white btn-primary btn-round" type="button" href="{:url('edit')}">
                <span class="glyphicon glyphicon-plus"></span>
                添加
            </a>
        </div>
    </div>
</div>
<div class="space"></div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>
            <th>ID</th>
            <th>账号</th>
            <th>昵称</th>
            <th>登录次数</th>
            <th>最后登录时间</th>
            <th>注册时间</th>
            <th>状态</th>
            <th>操作</th>
            </thead>
        </table>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $('#search-key').select2({allowClear:false,width:90});
    var tableOption = {
        columns:
            [
                {data: "id", orderable: false},
                {data: "account"},
                {data: "user_name"},
                {data: "login_count"},
                {data: "login_last_time"},
                {data: "create_time"},
                {data: "status",
                    render:function (data) {
                        return data == 1 ? "<span class='label label-lg label-success label-white middle'>启用</span>" : "<span class='label label-lg label-danger label-white middle'>禁用</span>";
                    },
                    className:"center",
                    orderable: false,
                },
                {data:"id"}
            ],
        search: function () {
            return {
                key:$('#search-key').val(),
                value:$('#search-value').val(),
                status:$('#status').val(),
            }
        }
    };
    var Table = $('.table').DataTable(tableOption,"{:url('data')}");
    function RefreshTable() {
        Table.ajax.reload();
    }
    function edit(element) {
        var id = $(element).attr('data-value');
        location.href = 'edit.html?id=' + id;
    }
    function deleteRow(element) {
        var id = $(element).attr('data-value');
        ajaxDelete(id);
    }
    function ajaxDelete(id) {
        $.confirm('提示', '确定需要删除此笔数据，且无法恢复?', 'info', function(isConfirm) {
            if (isConfirm) {
                $.post('{:url("delete")}', { id: id }, function(result) {
                    if (result.code) {
                        $.alert('提示', '删除成功', 'success');
                        Table.ajax.reload(false);
                    } else {
                        $.alert('错误', result.msg);
                    }
                }, 'json');
            }
        });
    }
</script>
{/block}