{extend name="common/index"}
{block name="css"}
<style>
    .layui-form-select dl dd.layui-this {
        background-color: #F5F5F5 !important;
    }
    .layui-form-select dl dd.layui-this {
        color: #666 !important;
    }
</style>
{/block}
{block name="content"}
<div class="layui-row">
    <div class="layui-bg-orange" style="height:40px;line-height: 40px;font-size: 17px;text-align: center;">当前产品信息仅供查看，不能修改</div>
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">厂家：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="factory_name" value="{$data.factory_name|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">产品名：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="name" value="{$data.name|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">厂家分类：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="model" value="{$data.model|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">厂家型号：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="model" value="{$data.model|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商城编号：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="number" value="{$data.number|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">品牌：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="brand" value="{$data.brand|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"> 风格：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="style" value="{$data.style|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">材质：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="texture" value="{$data.texture|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">功能：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="function" value="{$data.function|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">尺寸：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="size" value="{$data.size|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">产地：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="factory_address" value="{$data.factory_address|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">发货地址：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="deliver_address" value="{$data.deliver_address|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上架状态：</label>
                    <div class="layui-input-block">
                        <input  type="radio" name="is_on_shelves" value="1" title="上架" {eq name="$data.is_on_shelves|default='0'" value="1"}checked{/eq}>
                        <input  type="radio" name="is_on_shelves" value="0" title="下架" {eq name="$data.is_on_shelves|default='0'" value="0"}checked{/eq}>
                    </div>
                </div>
                {volist name="$data.colors" id="vo"}
                    <div class="layui-form-item">
                <label class="layui-form-label">颜色：</label>
                <div class="layui-input-block">
                    <input disabled type="text" style="margin-bottom: 10px;" name="color" value="{$vo.color}" class="layui-input"/>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg3">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <a href="{$vo.img}" target="_blank"><img src="{$vo.img}" height="150" alt="图片"></a>
                        </div>
                    </div>
                </div>
                {volist name="$vo.prices" id="vv"}
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">尺寸：</label>
                        <div class="layui-input-block">
                            宽：{$v.width}&emsp;高：{$v.height}
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">组合：</label>
                        <div class="layui-input-block">
                            <input disabled type="text" name="configure" value="{$vv.configure}" class="layui-input"/>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">批发价：</label>
                        <div class="layui-input-block">
                            <input disabled type="text" style="display: inline;" name="trade_price" value="{$vv.trade_price}" class="layui-input"/>
                        </div>
                    </div>
                </div>
                {/volist}
            </div>
                {/volist}
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">详情：</label>
                </div>
            </div>
            {volist name="data.details" id="vo"}
                <div class="layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4">
                    {if condition="$vo.type == 'text'"}
                    <div class="layui-input-block">
                        <p>{$vo.content}</p>
                    </div>
                    {else if condition="$vo.type == 'img'"}
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4">
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <a href="{$vo.content}" target="_blank"><img src="{$vo.content}" width="500" alt="图片"></a>
                            </div>
                        </div>
                    </div>
                    {/if}
                </div>
            {/volist}
            </div>
        <div class="tpl-form-action">
            <!--<button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存</button>-->
        </div>
</div>
</form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;
        //分类联动
        form.on('select(region)', function (data) {
            var id = data.value;
            if ($(data.elem).attr('id') == 'classify_parent') {
                ajaxClassify(id, '#classify_current');
            }
        });
        function ajaxClassify(id, position) {
            $.post('{:url("ajaxClassify")}', {pid:id}, function (result) {
                var _html = "<option value=''>请选择</option>";
                $.each(result, function (key, val) {
                    _html += "<option value='"+val.id+"'>"+val.classify_name+"</option>";
                });
                $(position).html(_html);
                form.render('select');
            });
        }
        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            var sizeIds = '';   //尺寸多选
            $('#size_ids option:selected').each(function(k, v) {
                var prefix = k === 0 ? '' : ',';
                sizeIds += (prefix + $(v).val());
            });
            $('input[name="size_ids"]').val(sizeIds);
            var functionIds = '';    //功能多选
            $('#function_ids option:selected').each(function(k, v) {
                var prefix = k === 0 ? '' : ',';
                functionIds += (prefix + $(v).val());
            });
            $('input[name="function_ids"]').val(functionIds);
            $.post('{:url("save")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });
    });


</script>

{/block}