{extend name="common/index"}
{block name="css"}
<style>
    .layui-form-select dl dd.layui-this {
        background-color: #F5F5F5 !important;
    }
    .layui-form-select dl dd.layui-this {
        color: #666 !important;
    }
</style>
{/block}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">产品名：</label>
                    <div class="layui-input-block">
                        <input disabled type="text" name="name" value="{$data.name|default=''}" placeholder="审核不通过，则必须填写" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">启用状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="state" value="1" title="启用" {eq name="$data.state|default='0'" value="1"}checked{/eq}>
                        <input type="radio" name="state" value="0" title="禁用" {eq name="$data.state|default='0'" value="0"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">商城分类：</label>
                        <div class="layui-input-block">
                            <select name="classify_parent_id" id="classify_parent" lay-filter="region">
                                <option value="">请选择</option>
                                {notempty name="$classifyParentList"}
                                {volist name="$classifyParentList" id="vo"}
                                <option value="{$vo.id}" {eq name="$classifyParent.id" value="$vo.id"}selected{/eq} >{$vo.classify_name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 layui-col-lg3">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: auto;"></label>
                        <div class="layui-input-block" style="margin-left: 10px;">
                            <select name="goods_classify_id" id="classify_current" lay-filter="region">
                                <option value="">请选择</option>
                                {notempty name="classifyCurrentList"}
                                {volist name="classifyCurrentList" id="vo"}
                                <option value="{$vo.id}" {eq name="$data.goods_classify_id" value="$vo.id"}selected{/eq}>{$vo.classify_name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                </div>
                {volist name="attrList" id="vo" item="key"}
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.attr_name}：</label>
                    <div class="layui-input-block" style="top:6px;">
                        <span class="add-attr" data-attr-id="{$vo.id}" data-method="offset" data-type="auto" style="background-color: #FFF;border: 1px #E5E5E5 solid;">
                            &emsp;<i class="layui-icon layui-icon-add-1"></i>&emsp;
                        </span>&emsp;
                        {volist name="$vo['enum_list']" id="vv"}
                        <div style="display: inline;margin-right: 30px;">
                            <span class="layui-badge layui-bg-blue style-btn" data-value="{$vv.id}" style="height: 20px;font-size: 12px;line-height: 20px;cursor:default;">
                                {$vv.enum_name}
                            </span>
                            <div class="action-btn" style="display: none;">
                               <span class="attr-del layui-btn layui-btn-primary layui-btn-sm" data-value="{$vv.id}" style="width:10px;border:0px;">
                                    <i class="layui-icon"></i>
                                </span>
                            </div>
                        </div>
                        {/volist}
                    </div>
                </div>
                {/volist}
                <div class="layui-form-item">
                    <label class="layui-form-label">审核状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="0" title="未审核" {eq name="$review.status|default='0'" value="0"}checked{/eq}>
                        <input type="radio" name="status" value="1" title="审核通过" {eq name="$review.status|default='0'" value="1"}checked{/eq}>
                        <input type="radio" name="status" value="2" title="审核不通过" {eq name="$review.status|default='0'" value="2"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">审核结果说明：</label>
                    <div class="layui-input-block">
                        <input type="text" name="remark" value="{$review.remark|default=''}" placeholder="审核不通过，则必须填写" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="tpl-form-action">
            <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存审核结果</button>
        </div>
    </form>
</div>
</form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    $('.style-btn').click(function () {
        $('.action-btn').css('display', 'none');
        $(this).next('.action-btn').css('display', 'inline');
    });

    layui.use(['form'], function () {
        var form = layui.form;
        //分类联动
        form.on('select(region)', function (data) {
            var id = data.value;
            if ($(data.elem).attr('id') == 'classify_parent') {
                ajaxClassify(id, '#classify_current');
            }
        });
        function ajaxClassify(id, position) {
            $.post('{:url("ajaxClassify")}', {pid:id}, function (result) {
                var _html = "<option value=''>请选择</option>";
                $.each(result, function (key, val) {
                    _html += "<option value='"+val.id+"'>"+val.classify_name+"</option>";
                });
                $(position).html(_html);
                form.render('select');
            });
        }
        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            $.post('{:url("reviewSave")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });

        var id = {$data.id|default=0};

        $('.attr-del').click(function () {
            var attr_val_id = $(this).data('value');
            var obj = this;
            layer.confirm('此属性将从当前产品中移除，确定继续吗？', function(index) {
                $.post('{:url("delAttr")}',{id:id,attr_val_id:attr_val_id}, function (result) {
                    layer.close(index);
                    if (result.code) {
                        $(obj).parent().parent().remove();
                    } else {
                        layer.alert(result.msg, {icon:2});
                    }
                }, 'json');
            });
        });

        $('.add-attr').click(function () {
            if (id == 0) {
                layer.alert('请先添加并保存当前分类', {icon:2});
                return false;
            } else {
                var attrs;
                var attr_id = $(this).data('attr-id');
                var goods_classify_id = $('#classify_current').val();
                if (goods_classify_id == '') {
                    layer.alert('请先选择分类', {icon:2});
                    return false;
                }
                $.get('{:url("getAttrs")}',{id:id,attr_id:attr_id,goods_classify_id:goods_classify_id}, function (result) {
                    if (result.code) {
                        attrs = result.data;
                        console.log(attrs);
                        if (attrs == "") {
                            layer.alert('此属性类别下没有可选的枚举值');
                            return true;
                        }
                        var attr_input = '';
                        for (var i in attrs) {
                            attr_input += '<p style="color:#1E9FFF;">'+i+'</p>'
                            for (var j in attrs[i]) {
                                var checked = attrs[i][j].checked == 0 ? '' : 'checked=""';
                                attr_input += '<input type="checkbox" name="'+i+'_'+j+'" lay-skin="primary" value="'+attrs[i][j].id+' "title="'+attrs[i][j].enum_name+' " '+checked+'>';
                            }
                            attr_input += '<hr/>';
                        }
                        var html = '<form id="attrForm" class="layui-form" action="{:url("saveAttr")}">' +
                            '<div class="layui-form-item" pane="" style="padding: 30px 30px 0 0;">' +
                            '<div class="layui-input-block">'
                            + '<input type="hidden" name="id" value="'+ id +'">'
                            + '<input type="hidden" name="attr_id" value="'+ attr_id +'">'
                            + attr_input
                            + '</div></div></form>';

                        layer.open({
                            type: 1
                            ,offset: 'auto'
                            ,area: ['800px', '500px']
                            ,content: html
                            ,btn: ['保存', '取消']
                            ,btnAlign: 'c'
                            ,shade: 0
                            ,yes: function(){
                                $.post('{:url("saveAttr")}', $('#attrForm').serialize(), function (result) {
                                    layer.closeAll();
                                    if (result.code) {
                                        layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                                            window.location.href = result.url;
                                        });
                                    } else {
                                        layer.alert(result.msg, {icon:2, title:'保存失败！'});
                                    }
                                }, 'json');
                            }
                        });
                        layui.use('form', function(){
                            layui.form.render();
                        });
                    } else {
                        layer.alert(result.msg, {icon:2});
                    }
                }, 'json');
            }
        });
    });


</script>

{/block}