{extend name="common/index"}
{block name="css"}
<style>
    .content {
        max-width: 350px;
    }
    .content .content-text {
        margin: 15px;
    }
    .content img {
        max-width: 350px;
    }
</style>
{/block}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">商家名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="record" value="{$groupName|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">音乐：</label>
                    <div class="layui-input-inline">
                        <select name="music">
                            <option value="">请选择</option>
                            {volist name="$musicList" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.music|default=''"}selected{/eq}>{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">录音：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="record" value="{$data.record|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                {notempty name="content"}
                <div class="layui-form-item">
                    <label class="layui-form-label">内容详情：</label>
                    <div class="layui-input-inline content">
                        {volist name="$content" id="vo"}
                        <a href="{$vo.img}" target="_blank">
                            <img src="{$vo.img}" alt="图片">
                        </a>
                        <div class="content-text">{$vo.text}</div>
                        {/volist}
                    </div>
                </div>
                {/notempty}
            </div>
            <div class="tpl-form-action">
                <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存</button>
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            $.post('{:url("save")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });
    });


</script>

{/block}