{extend name="common/index"}
{block name="css"}
<style>
    .content {
        max-width: 350px;
    }
    .content .content-text {
        margin: 15px;
    }
    .content img {
        max-width: 350px;
    }
</style>
{/block}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属分类：</label>
                    <div class="layui-input-inline">
                        <select name="classify_id">
                            <option value="">请选择</option>
                            {volist name="$classifyList" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.classify_id|default=''"}selected{/eq}>{$vo.classify_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>标题：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" value="{$data.title|default=''}" placeholder="请输入" class="layui-input"  lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">作者：</label>
                    <div class="layui-input-inline">
                        <select name="user_id" disabled>
                            <option value="">请选择</option>
                            {volist name="$userList" id="vo"}
                            <option value="{$vo.id}" {eq name="vo.id" value="$data.user_id|default=''"}selected{/eq}>{$vo.user_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">背景音乐歌名：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="music_name" value="{$data.music_name|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">背景音乐：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="music" value="{$data.music|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">阅读数：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="read_num" value="{$data.read_num|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分享次数：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="share" value="{$data.share|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">推荐：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="is_recommend" value="0" title="否" {eq name="$data.is_recommend|default=''" value="0"}checked{/eq}>
                        <input type="radio" name="is_recommend" value="1" title="是" {eq name="$data.is_recommend|default=''" value="1"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="state" value="0" title="待审核" {eq name="$data.state|default=''" value="0"}checked{/eq}>
                        <input type="radio" name="state" value="1" title="审核通过" {eq name="$data.state|default=''" value="1"}checked{/eq}>
                        <input type="radio" name="state" value="2" title="审核不通过" {eq name="$data.state|default=''" value="2"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">审核结果说明：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="hide_remark" value="{$data.hide_remark|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                {notempty name="content"}
                <div class="layui-form-item">
                    <label class="layui-form-label">内容详情：</label>
                    <div class="layui-input-inline content">
                        {volist name="$content" id="vo"}
                        <a href="{$vo.img}" target="_blank">
                            <img src="{$vo.img}" alt="图片">
                        </a>
                        <div class="content-text">{$vo.text}</div>
                        {/volist}
                    </div>
                </div>
                {/notempty}
            </div>
            <div class="tpl-form-action">
                <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存</button>
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            $.post('{:url("save")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });
    });


</script>

{/block}