<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>数字家具</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css"/>
    {block name="before_css"}{/block}
    <link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/ace-fonts.min.css"/>
    <!-- plugin styles -->
    <link rel="stylesheet" href="__STATIC__/plugin/select2/select2.min.css"/>
    <link rel="stylesheet" href="__STATIC__/plugin/datepicker/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="__STATIC__/plugin/icheck/skins/flat/blue.css"/>
    <link rel="stylesheet" href="__STATIC__/plugin/sweetalert/sweetalert.css"/>
    <!-- ace styles -->
    <link rel="stylesheet" href="__STATIC__/css/ace.min.css" class="ace-main-stylesheet"/>
    <link rel="stylesheet" href="__STATIC__/css/main.css"/>
    {block name="css"}{/block}
    <script src="__STATIC__/js/ace-extra.min.js"></script>
</head>
<body class="no-skin" style="overflow:auto">
<!--导航条-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-container ace-save-state">
        <button type="button" class="navbar-toggle menu-toggler pull-left" data-target="#sidebar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header pull-left">
            <a href="{:url('index')}" class="navbar-brand">
                <small><i class="fa fa-leaf"> ###</i></small>
            </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="{:session('user_info.image')}" alt="avatar"/>
                        {:session('user_info.user_name')}
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                        <li>
                            <a href="{:url('admin/Index/clear')}">
                                <i class="ace-icon fa fa-trash"></i>
                                清除缓存
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{:url('admin/User/password')}">
                                <i class="ace-icon fa fa-key"></i>
                                修改密码
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{:url('admin/Login/loginout')}">
                                <i class="ace-icon fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--菜单-->
<div class="main-container">
    <div id="sidebar" class="sidebar sidebar-fixed responsive ace-save-state">
        <div class="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large">
                <a class="btn btn-danger" href="{:url('changeModule',['module'=>1])}">
                    系统
                </a>
                <a class="btn btn-success" href="{:url('changeModule',['module'=>2])}">
                    平台
                </a>
                <a class="btn btn-info" href="{:url('changeModule',['module'=>3])}">
                    厂家
                </a>
                <a class="btn btn-warning" href="{:url('changeModule',['module'=>4])}">
                    商家
                </a>
            </div>
            <div class="sidebar-shortcuts-mini">
                <span class="btn btn-danger"></span>
                <span class="btn btn-success"></span>
                <span class="btn btn-info"></span>
                <span class="btn btn-warning"></span>
            </div>
        </div>
        <ul class="nav nav-list">
            {php}
            function sidebar($treeMenu = [],$currentMenu='',$pidMenu='',$auth=[],&$i=0)
            {
            foreach($treeMenu as $menu)
            {
            if(isset($menu['child']))
            {
            if(user_info('id') == 1 or in_array($menu['id'],$auth))
            {
            echo (array_mulit_exists($menu,$currentMenu,'id') || array_mulit_exists($menu,$pidMenu,'id')) ? '<li class="active open">' : '<li>';
            echo '<a href="javascript:void(0);"  class="dropdown-toggle">';
                echo '<i class="menu-icon '.($menu['icon'] ? ($i++ == 1 ? 'fa fa-caret-right' : $menu['icon']) : ($i++ == 1 ? 'fa fa-caret-right' : 'fa fa-file-o')).'"></i>';
                echo '<span class="menu-text">'.$menu['menu_name'].'</span>';
                echo '<b class="arrow fa fa-angle-down"></b>';
                echo '</a>';
            echo '<b class="arrow"></b>';
            echo '<ul class="submenu">';
                sidebar($menu['child'],$currentMenu,$pidMenu,$auth,$i);
                $i--;
                echo '</ul>';
            echo '</li>';
            }
            }
            else
            {
            if(user_info('id') == 1 or in_array($menu['id'],$auth))
            {
            echo (array_mulit_exists($menu,$currentMenu,'id') || array_mulit_exists($menu,$pidMenu,'id')) ? '<li class="active">' : '<li>';
            $url = $menu['params_array'] ? url($menu['controller']) .'?'. $menu['params_array'] : url($menu['controller']);
            echo '<a target="'.$menu['url_target'].'" href="'.$url.'">';
                echo '<i class="menu-icon '.($menu['icon'] ? ($i == 1 ? 'fa fa-caret-right' : $menu['icon']) : ($i == 1 ? 'fa fa-caret-right' : 'fa fa-file-o')).'"></i>';
                echo '<span class="menu-text">'.$menu['menu_name'].'</span>';
                echo '</a>';
            echo '<b class="arrow"></b>';
            echo '</li>';
            }
            }
            }
            }
            sidebar($menus,$currentMenu,$pidMenu,$auth);
            {/php}
        </ul>
        <div class="sidebar-toggle sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state breadcrumbs-fixed">
                <ul class="breadcrumb">
                    {php}
                    function breadcrumb($treeMenu = [],$currentMenu='',$pidMenu='',$i=0)
                    {
                    foreach($treeMenu as $menu)
                    {
                    if(array_mulit_exists($menu,$currentMenu,'id') || array_mulit_exists($menu,$pidMenu,'id'))
                    {
                    if($i === 0)
                    {
                    if($pidMenu && !empty($menu['controller']))
                    {
                    $url = $menu['params_array'] ? url($menu['controller']) .'?'. $menu['params_array'] : url($menu['controller']);
                    echo "<li>\n";
                    echo '<i class="ace-icon '.($menu['icon'] ? $menu['icon'] : 'fa fa-file-o').' home-icon"></i>'."\n".'<a href="'.$url.'">'.$menu['menu_name']."\n".'</a>';
                    echo '</li>';
                    }
                    else
                    {
                    echo "<li>\n";
                    echo '<i class="ace-icon '.($menu['icon'] ? $menu['icon'] : 'fa fa-file-o').' home-icon"></i>'."\n".$menu['menu_name']."\n";
                    echo '</li>';
                    }
                    }
                    else
                    {
                    if(isset($menu['child']) && $currentMenu !== $menu['id'] && !empty($menu['controller']))
                    {
                    $url = is_array($menu['params_array']) ? url($menu['controller'],$menu['params_array']) : url($menu['controller']);
                    echo '<li><a href="'.$url.'">'.$menu['menu_name']."</a></li>";
                    }
                    else
                    {
                    echo "<li>".$menu['menu_name']."</li>";
                    }
                    }
                    if(isset($menu['child']))
                    {
                    breadcrumb($menu['child'],$currentMenu,$pidMenu,++$i);
                    }
                    }
                    }
                    }
                    breadcrumb($allMenu,$currentMenu,$pidMenu);
                    {/php}
                </ul>
            </div>
            <div class="page-content">
                {block name="page"}{/block}
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script src="__STATIC__/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='__STATIC__/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    var ueditorUrl = "{:url('editorImg')}";
</script>
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/jquery.form.min.js"></script>
<script src="__STATIC__/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/js/bootbox.min.js"></script>
<script src="__STATIC__/js/holder.min.js"></script>

<script src="__STATIC__/plugin/datepicker/bootstrap-datepicker.min.js"></script>
<script src="__STATIC__/plugin/select2/select2.full.min.js"></script>
<script src="__STATIC__/plugin/datatables/datatables.min.js"></script>
<script src="__STATIC__/plugin/icheck/icheck.min.js"></script>
<script src="__STATIC__/plugin/validate/jquery.validate.min.js"></script>
<script src="__STATIC__/plugin/spinbox/spinbox.min.js"></script>
<script src="__STATIC__/plugin/sweetalert/sweetalert.min.js"></script>

<script src="__STATIC__/js/ace-elements.js"></script>
<script src="__STATIC__/js/ace.min.js"></script>
<script src="__STATIC__/js/plugin.js"></script>
<script src="__STATIC__/js/main.js"></script>
{block name="script"}{/block}
</body>
</html>
