{extend name="common/index"}
{block name="content"}
<div class="layui-row">
    <form id="editForm" class="layui-form tpl-form-label-long" action="">
        <input type="hidden" name="id" id="id" value="{$data.id|default=''}">
        <div class="layui-field-box">
            <div class="layui-main">
                <div class="layui-form-item">
                    <label class="layui-form-label">门头照：</label>
                    <div class="layui-input-inline upload-shop-img">
                        <img src="{$data.shop_img|default='/static/img/holder.jpg'}" width="200" height="100" alt="门头照">
                        <input type="hidden" name="shop_img" value="{$data.shop_img|default=''}" data-id="{$data.id|default=''}" data-table="shop" class="img_origin">
                        <input type="hidden" name="img_thumb_small" value="{$data.img_thumb_small|default=''}" class="img_thumb_small">
                        <input type="hidden" name="img_thumb_large" value="{$data.img_thumb_large|default=''}" class="img_thumb_large">
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-btn-container">
                            <a href="{$data.shop_img|default='/static/img/holder.jpg'}" target="_blank" class="layui-btn layui-btn-primary layui-btn-sm">
                                <i class="layui-icon layui-icon-search"></i>查看大图
                            </a>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm image-delete" onclick="deleteImgOss(this);">
                                <i class="layui-icon layui-icon-delete"></i>删除图片
                            </button>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>微信二维码：</label>
                    <img src="{$data.wx_code|default=''}" width="100" alt="微信二维码">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*&nbsp;</span>商户名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="shop_name" value="{$data.shop_name|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商户联系人：</label>
                    <div class="layui-input-block">
                        <input type="text" name="shop_contact" value="{$data.shop_contact|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商户手机号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="shop_phone" value="{$data.shop_phone|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">经营类别：</label>
                    <div class="layui-input-block">
                        <select name="category">
                            {volist name="categoryList" id="category"}
                                <option value="{$category.id}"  {eq name="$category.id" value="$data.category_id|default='0'"}selected{/eq}>{$category.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">法人姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_name" value="{$data.user_name|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">法人手机号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" value="{$data.phone|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">法人微信号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="wx_account" value="{$data.wx_account|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">所在省市区：</label>
                        <div class="layui-input-block">
                            <select name="province" id="province" lay-filter="region">
                                <option value="{$data.province|default=''}">{$data.province|default='所在省'}</option>
                                {notempty name="provinceList"}
                                {volist name="provinceList" id="vo"}
                                <option value="{$vo.name}">{$vo.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 layui-col-lg3">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: auto;"></label>
                        <div class="layui-input-block" style="margin-left: 10px;">
                            <select name="city" id="city" lay-filter="region">
                                <option value="{$data.city|default=''}">{$data.city|default='请选择市'}</option>
                                {notempty name="cityList"}
                                {volist name="cityList" id="vo"}
                                <option value="{$vo.name}">{$vo.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md5 layui-col-lg5">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: auto;"></label>
                        <div class="layui-input-block" style="margin-left: 10px;">
                            <select name="district" id="district">
                                <option value="{$data.district|default=''}">{$data.district|default='请选择区/县'}</option>
                                {notempty name="districtList"}
                                {volist name="districtList" id="vo"}
                                <option value="{$vo.name}">{$vo.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">详细地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" value="{$data.address|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">审核状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="audit_state" value="0" title="未审核" {eq name="$data.audit_state|default='0'" value="0"}checked{/eq}>
                        <input type="radio" name="audit_state" value="1" title="审核通过" {eq name="$data.audit_state|default='0'" value="1"}checked{/eq}>
                        <input type="radio" name="audit_state" value="2" title="审核不通过" {eq name="$data.audit_state|default='0'" value="2"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">审核结果说明：</label>
                    <div class="layui-input-block">
                        <input type="text" name="audit_remark" value="{$data.audit_remark|default=''}" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <label class="layui-form-label">营业执照：</label>
                <a href="{$data.license|default=''}" target="_blank"><img src="{$data.license|default=''}" width="300" alt="营业执照"></a>
            </div>
            </div>
            <div class="tpl-form-action">
                <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formSubmit">保存</button>
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        //上传门头照，限制大小4M
        uploadImgOss('.upload-shop-img', '{:url("uploadImgOss")}', 4096, 'images');

        //监听省市区三级联动
        form.on('select(region)', function (data) {
            var id = data.value;
            var position_now = $(data.elem).attr('id');
            var position_next = '';
            var position_change = '';

            if (position_now == 'province') {
                position_next = '#city';
                position_change = '#district';
            } else if (position_now == 'city'){
                position_next = '#district';
                position_change = '';
            }

            ajaxRegion(id, position_next, position_change);
        });

        /**
         * 省市区变更
         */
        function ajaxRegion(id, position, position_change) {
            $.post('{:url("getRegion")}', {pid:id}, function (result) {
                var _html = "<option value=''>请选择</option>";
                $.each(result, function (key, val) {
                    _html += "<option value='"+val.id+"'>"+val.name+"</option>";
                });
                $(position).html(_html);
                $(position_change).html("<option value=''>请选择</option>");
                form.render('select');
            });
        }

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load(2, {shade:[0.5,'#000'],time: 10*1000});
            $.post('{:url("save")}', $('#editForm').serialize(), function (result) {
                layer.close(index);
                if (result.code) {
                    layer.msg(result.msg, {shade:[0.5,'#000'],time:1000}, function () {
                        window.location.href = result.url;
                    });
                } else {
                    layer.alert(result.msg, {icon:2, title:'保存失败！'});
                }
            }, 'json');
            return false;
        });
    });


</script>

{/block}