{extend name="common/index"}
{block name="css"}
<style>
    .layui-table-cell{
        padding: 0 8px;
    }
    .layui-table .laytable-cell-1-address{
        white-space: pre-line;
    }
</style>
{/block}
{block name="content"}
<div class="layui-row">
    <form id="searchForm" class="layui-form layui-form-pane tpl-form-search" onkeydown="if(event.keyCode=='13'){reloadTable('#searchForm');return false;}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">商户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="shop_name" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">门店联系人</label>
            <div class="layui-input-inline">
                <input type="text" name="shop_contact" class="layui-input">
            </div>
        </div>
            <div class="layui-inline">
                <label class="layui-form-label">门店电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="shop_phone" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">审核状态</label>
                <div class="layui-input-inline">
                    <select name="audit_state">
                        <option value="">请选择</option>
                        <option value="0">未审核</option>
                        <option value="1">通过</option>
                        <option value="2">未通过</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">启用状态</label>
                <div class="layui-input-inline">
                    <select name="state">
                        <option value="">请选择</option>
                        <option value="0">禁用</option>
                        <option value="1">启用</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-btn-group">
                    <a class="layui-btn layui-btn-normal" onclick="reloadTable('#searchForm');">搜索</a>
                    <a class="layui-btn" href="{:url('edit')}" target="_blank">新增</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="layui-col-xs12">
    <table id="listTable" lay-filter="listTable"></table>
</div>

<script type="text/html" id="operating">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit">编辑</i></a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete">删除</i></a>
    </div>
</script>
{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['table'], function () {
        var table = layui.table;

        var shop_name = $.getUrlParam('shop_name');
        if ( shop_name !== undefined) {
            $('#searchForm').find('input[name="shop_name"]').val(shop_name);
        }

        //表格数据渲染
        tableIns = table.render({
            elem: '#listTable'
            ,url: '{:url("getDataList", ["id" => $id])}'
            ,page: true
            ,limit: table_limit
            ,limits: table_limits
            ,cols: [[
                {type:'numbers', title:'序号', width:45}
                ,{field:'shop_name', title:'商户号', minWidth:90, templet: function (data) {
                    return data.shop_name != '' ? '<a href="/admin/shop_commodity/index?shop_id='+data.id+'" target="_blank">'+data.shop_name+'</a>' : "";
                }}
                ,{field:'user_name', title:'创建人', minWidth:90, templet: function (data) {
                    return '<a class="a-link" href="/admin/user/index?id='+data.admin_user+'" target="_blank">'+data.user_name+'</a>';
                }}
                ,{field:'shop_contact', title:'门店联系人', minWidth:90}
                ,{field:'shop_phone', title:'门店电话', minWidth:110}
                ,{field:'shop_wx', title:'门店微信号', minWidth:90}
                ,{field:'address', title:'门店地址', minWidth:120, templet: function (data) {
                    return data.address != '' ? '<a href="javascript:;" lay-event="show-map">'+data.address+'</a>' : "";
                }}
                ,{field:'home_content_has', title:'首页图文', minWidth:80}
                ,{field:'shop_commodity_count', title:'商品数量', minWidth:80}
                ,{field:'audit_state_des', title:'审核状态', minWidth:80}
                ,{title:'状态', align:'center', templet: function (data) {
                    return data.state === 1 ? '<span class="layui-badge layui-bg-blue">启用</span>' : '<span class="layui-badge layui-bg-gray">禁用</span>';
                }}
                ,{field:'last_login_time', title:'店长最后登录时间', minWidth:130}
                ,{field:'create_time', title:'店长注册时间', minWidth:105}
                ,{field:'all_login_times', title:'店员总登录次数', minWidth:120}
                ,{field:'all_login_times_month', title:'店员本月登录次数', minWidth:130}
                ,{fixed:'right', title:'操作', toolbar: '#operating', align:'center', minWidth:120}
            ]]
            ,where: getFormJson('#searchForm')
        });

        //监听工具条
        table.on('tool(listTable)', function(obj){
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定继续吗？', function(index){
                    $.post('{:url("delete")}',{id:data.id}, function (result) {
                        layer.close(index);
                        if (result.code) {
                            reloadTable('#searchForm');
                        } else {
                            layer.alert(result.msg, {icon:2});
                        }
                    }, 'json');
                });
            } else if (obj.event === 'edit') {
                window.open('edit?id='+data.id);
            } else if (obj.event === 'show-map') {
                var modal = layer.open({
                    type: 2
                    , area: ['700px', '500px']
                    , content: 'ShowMap.html?lat='+data.lat+'&lng='+data.lng
                });
            }
        });
    });


</script>
{/block}